.vs/
*.user
HighfieldTechTest.Api/bin/
HighfieldTechTest.Api/obj/
HighfieldTechTest.Web/bin/
HighfieldTechTest.Web/obj/
HighfieldTechTest.Tests/bin/
HighfieldTechTest.Tests/obj/
/terraform/.terraform
*.tfstate
*.tfstate.backup
deployment-package.zip
